<div class="card">
  <%= image_tag 'colorfull.jpeg', class: "card-img top-img" %>
  <div class="card-img-overlay p-0 d-flex align-items-center">
    <div class="row d-flex align-items-end">
      <h1 class="text-light m-0 ml-5">About</h1>
      <p class="text-light p-0 m-0 ml-3 border-bottom">私たちについて</p>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row py-5">
    <p>
      多肉屋ぽんぽんは多肉植物専門農家です。<br/>
      <br/>
      ハウスでの販売だけでなく、ネットショップ、寄せ植えの体験教室やリメイク鉢の製作教室も行っております。<br/>
      <br/>
      ぜひ、一緒に最高の多肉ライフにできるように楽しみましょう！！
    </p>
  </div>
</div>