<div class="card">
  <%= image_tag 'colorfull.jpeg', class: "card-img top-img", style: "height: 300px; object-fit: cover;" %>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to admin_users_path do %>
        <p>会員一覧へ</p>
      <% end %>
    </div>
  </div>
</div>