@use '~bootstrap/scss/bootstrap';

.link {
  color: black;
}

.img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 0;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

body {
  background-image: image-url("hoge.jpg");
}