<div class="container">
  <div class="row mt-5 p-5 justify-content-center">
    <h3 class="mt-5 pt-5">ご注文ありがとうございました！</h3>
  </div>

  <div class="row col-7 mx-auto">
    <%= link_to "<<　商品一覧へ", items_path %>
    <%= link_to "トップページへ　>>", root_path, class: "ml-auto" %>
  </div>
</div>