<div class="container">
  <div class="row">
    <h4 class="mx-auto mt-5" style="text: #82392E;">＊＊＊　<%= @blog.title %>　＊＊＊</h4>
  </div>
  
  <div class="mb-4 text-right">
    <%= @blog.created_at.to_s(:datetime_jp) %>
  </div>
  
  <div class="row">
    <% @blog_images.each do |blog_image| %>
      <div class="col-3" >
        <%= image_tag blog_image.image.url, class: "col-12", style: "object-fit: cover; height: 300px;" %>
      </div>
    <% end %>
  </div>
  
  <div class="row m-4">
    <div class="text-center mx-auto">
      <%= h(@blog.body).gsub(/\n|\r|\r\n/, "<br>").html_safe %>
    </div>
  </div>
</div>