<div class="container">
  <div class="row">
    <h4 class="m-5 px-4 bg-light">ブログ詳細</h4>
  </div>
  
  <div class="row">
    <% @blog_images.each do |blog_image| %>
      <div class="col-3 mx-auto">
        <%= image_tag blog_image.image.url, class: "img col-12"; %>
      </div>
    <% end %>
  </div>
</div>