<div class="container">
  <div class="row">
    <h4 class="m-5 px-4 bg-light">ブログ詳細</h4>
  </div>
  
  <div class="row">
    <h3 class="mx-auto" style="text: #82392E;">＊＊＊　<%= @blog.title %>　＊＊＊</h3>
  </div>
  
  <div class="row">
    <% @blog_images.each do |blog_image| %>
      <div class="col-3 mx-auto" >
        <%= image_tag blog_image.image.url, class: "img col-12", style: "object-fit: cover;" %>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    
  </div>
</div>